*{
  /* font-family: Arial, Helvetica, sans-serif; */
  /* border: 1px solid black; */

}
.blog{
  background-color: #F6F5F5;
}

body{
  overflow-x: hidden;
}
.work{
  margin-top: 20px;
  font-size: 14px;
  color: #cecece;
}
::-webkit-scrollbar-thumb {
  background: #c1cf16;
  border-radius: 0px;
}
::-webkit-scrollbar {
  width: 5px;
  padding: 2px;
}
::-webkit-scrollbar-track {
  background: #1C2834;
}


hr{
  width:50%;
  text-align:left;
  border: 5px solid black;
  justify-content: center;
}

.inp {
  border:none;
  background-color: #1C2834;
  border-bottom: 1px solid #dddd;
  padding: 5px 10px;
  outline: none;
}
.inp:focus {
  border-color: #C0CE18;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease; 
  text-indent: -100%;
  opacity: 1;
}

.width {

  width: 45%;
  text-align: center;
}
.width div p{
  text-align: center;
}
.video{
  height: 261px;
   width: 377px; 
   transform: matrix(1, 0, 0, 1, -3, 153); 
   display: block;
}
.arrow{
  animation: arrow 3s infinite;
}
@keyframes arrow {
  from{
    opacity: 0;
    transform: translateX(20px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.aboutContainer{
  flex-direction: row;
    }   
.header{
  background-image: url('./images/shot2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.editor,.logo{
  animation: editor 3s;
}

.intro{
  animation: intro 3s;
}
@keyframes intro{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionIn{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes editor{
  from{
    opacity: 0;
    transform: translateX(70px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.navbar li{
/* text-transform: uppercase;
font-size: 14px; */
}
.active{
  font-weight: 500;
}
.login{
  width: 10em;
  height: 2.5em;

}
.learn{
  width: 10em;
  height: 3.5em;
}

.serviceBox{
display: flex;
flex-direction: row;
}
.serviceBoxText{
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 50px;
}
@media only screen and (min-width:200px)  {
  *{
    font-size: 12px;
  }
  .headerContainer{
    margin-left: 10px;
  }
  .headerContainer img{
    margin-left: 40px;
    width: 70%;
  }
  .scrn_edit{
    width: none;
  }
  .aboutContainer{
    flex-direction: column;
      } 
  .m-off{
    margin-left: 0px !important;
  }
  .about{
    width: 100%;
    padding: 2rem;
  }
  .humbergur{
    margin-left: 200px;
  }
  .serviceBox{
  flex-direction: column;
    }    
    /* .about{
      flex-direction: column;
        }    */
    .hold{
      margin: 0;
    }
    .serviceBoxText{
      margin-top: 0px;
      width: 80%;
    }
    .btn{
      width: 100% !important;
      height: 40px;
      margin-top: 20px;
      animation: transitionIn 3s;
    }
  *{
    font-size: 12px;
  }
 .hide{
   display: none;
 }
 .show{
   display: inline-block;
 }
 .humbergur{
   margin-left: 100px;
 }
 .dropdown{
  margin-right: 200px;
}
.sketch-text{
  margin-top: 10px;
  margin-right: 00px;
}
.sketch-text p{
  font-size: 1.5rem;
  font-weight: bold;
}
.sketch-text span{
  font-size: 1.5rem;
  font-weight: bold;
}
.me-text{
  margin-top: 50px;
  margin-right: 40px;
}
.me-text p{
  font-size: 2rem;
  font-weight: bold;
}
.me-text span{
  font-size: 2rem;
  font-weight: bold;
}
.skill{
  display: flex;
  flex-direction: column;
}
.width {
  margin-left: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.width p {
  font-size: 12px;
}
.contact{
  display: flex;
  flex-direction: column;
}
.my-work{
  display: flex;
  flex-direction: column;
}
.arrow{
  margin-top: 0px;
}
.soon{
  display: flex;
  flex-direction: column;
}
.soon .comingSoon{
  padding-top: 0px;
  width: 100%;
}
.soon .comingSoon p{
  margin-top: 0px;
  text-align: center;
}
 /* .navbar{
  margin-top: 100px;
  margin-right: 100px;
} */
}


@media only screen and (min-width:320px)  {
  .humbergur{
    margin-left: 200px;
  }
  /* .about{
    flex-direction: row;
      }    */
  .serviceBox{
  flex-direction: column;
    }    
    .hold{
      margin: 0;
      margin-right: 0;
    }
    .hold img{
      padding-right: 1rem;
    }
    .serviceBoxText{
      margin-top: 0px;
      margin-left: 0px;
      padding-left: 00px;
      width: 90%;
      margin-left: 20px;
    }
    .learn{
      width: 10em;
      height: 3.5em;
    }
    .sketch-text{
      margin-top: 30px;
      margin-right: 00px;
    }
    .sketch-text p{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .sketch-text span{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .me-text{
      margin-top: 50px;
      margin-right: 40px;
    }
    .me-text p{
      font-size: 2rem;
      font-weight: bold;
    }
    .me-text span{
      font-size: 2rem;
      font-weight: bold;
    }
    .skill{
      display: flex;
      flex-direction: column;
    }
    .width {
      margin-left: 0px;
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }
    .width p {
      font-size: 12px;
    }
    .about{
      width: 100%;
      padding: 2rem;
    }
    .contact{
      display: flex;
      flex-direction: column;
    }
    .headerContainer{
      margin-left: 40px;
    }
    .headerContainer img{
      margin-left: 40px;
      width: 70%;
    }
    .soon{
      display: flex;
      flex-direction: column;
    }
    .soon .comingSoon{
      padding-top: 0px;
      width: 100%;
    }
    .soon .comingSoon p{
      margin-top: 0px;
      text-align: center;
    }
}

@media only screen and (min-width:370px)  {

  .headerContainer{
    margin-left: 70px;
  }
  .headerContainer img{
    margin-left: 40px;
    width: 70%;
  }
  .soon{
    display: flex;
    flex-direction: column;
  }
  .soon .comingSoon{
    padding-top: 0px;
    width: 100%;
  }
  .soon .comingSoon p{
    margin-top: 0px;
    text-align: center;
  }
}

@media only screen and (min-width:500px)  {
  .humbergur{
    margin-left: 380px;
  }
  .serviceBox{
    flex-direction: column;
      }    
      /* .about{
        flex-direction: column;
          }     */
      .learn{
        width: 10em;
        height: 3.5em;
      }
            .hold img{
              padding-right: 1rem;
            }
            .sketch-text{
              margin-top: 100px;
              margin-right: 00px;
            }
            .sketch-text p{
              font-size: 1.5rem;
              font-weight: bold;
            }
            .sketch-text span{
              font-size: 1.5rem;
              font-weight: bold;
            }
            .me-text{
              margin-top: 140px;
              margin-right: 40px;
            }
            .me-text p{
              font-size: 3rem;
              font-weight: bold;
            }
            .me-text span{
              font-size: 3rem;
              font-weight: bold;
            }
            .skill{
              display: flex;
              flex-direction: column;
            }
            .width {
              margin-left: 30px;
              width: 90%;
              text-align: center;
              margin-bottom: 40px;
            }
            .contact{
              display: flex;
              flex-direction: column;
            }
            textarea{
              width: 80%;
            }
            .btn{
              width: 100%;
              height: 40px;
              margin-top: 20px;
              animation: transitionIn 3s;
            }
            .headerContainer{
              margin-left: 90px;
            }
            .headerContainer img{
              margin-left: 100px;
              width: 70%;
            }
            .headerContainer button{
              margin-left: 60px;
            }
            .soon{
              display: flex;
              flex-direction: column;
            }
            .soon .comingSoon{
              padding-top: 0px;
              width: 100%;
            }
            .soon .comingSoon p{
              margin-top: 0px;
              text-align: center;
            }
            
}
   @media only screen and (min-width:700px)  {
  .humbergur{
    margin-left: 500px;
  }
  .serviceBox{
    flex-direction: column;
      }    
      /* .about{
        flex-direction: row;
          }    */
      .learn{
        width: 10em;
        height: 3.5em;
      }
      .hold img{
        padding-right: 3rem;
      }
      .serviceBoxContainer{
        margin-left: 0px;
        margin-right: 0px;
      }
      .sketch-text{
        margin-top: 120px;
        margin-right: 00px;
      }
      .sketch-text p{
        font-size: 2rem;
        font-weight: bold;
      }
      .sketch-text span{
        font-size: 2rem;
        font-weight: bold;
      }
      .me-text{
        margin-top: 140px;
        margin-right: 00px;
      }
      .me-text p{
        font-size: 3rem;
        font-weight: bold;
      }
      .me-text span{
        font-size: 3rem;
        font-weight: bold;
      }
      .skill{
        display: flex;
        flex-direction: column;
      }
      .width {
        margin-left: 80px;
        width: 80%;
        text-align: center;
        margin-bottom: 40px;
      }
      .contact{
        display: flex;
        flex-direction: column;
      }
      textarea{
        width: 50%;
      }
      .headerContainer{
        margin-left: 100px;
      }
      .headerContainer img{
        margin-left: 70px;
        width: 70%;
      }
      .headerContainer button{
        margin-left: 10px;
      }
      .soon{
        display: flex;
        flex-direction: column;
      }
      .soon .comingSoon{
        padding-top: 0px;
        width: 100%;
      }
      .soon .comingSoon p{
        margin-top: 0px;
        text-align: center;
      }
}
@media only screen and (min-width:800px)  {
  .serviceBox{
    flex-direction: column;
      }      
      .hold img{
        padding-right: 3rem;
      }
            .aboutContainer{
              flex-direction: row;
                } 
                .serviceBoxContainer{
                  margin-left: 0px;
                  margin-right: 0px;
                }
                .small{
                  margin-left: 120px;
                }
                .sketch-text{
                  margin-top: 150px;
                  margin-right: 00px;
                }
                .sketch-text p{
                  font-size: 2rem;
                  font-weight: bold;
                }
                .sketch-text span{
                  font-size: 2rem;
                  font-weight: bold;
                }
                .me-text{
                  margin-top: 140px;
                  margin-right: 00px;
                }
                .me-text p{
                  font-size: 3rem;
                  font-weight: bold;
                }
                .me-text span{
                  font-size: 3rem;
                  font-weight: bold;
                }
                .skill{
                  display: flex;
                  flex-direction: column;
                }
                .contact{
                  display: flex;
                  flex-direction: column;
                }
                .contact .address{
                  width: 80%;
                  margin-left: 20px;
                }
                .contact .form{
                  width: 50%;
                  margin-left: 20px;
                }
                .width {
                  margin-left: 80px;
                  width: 80%;
                  text-align: center;
                  margin-bottom: 40px;
                }
                .form{
                  width: 40%;
                }
                textarea{
                  width: 90%;
                }
                .headerContainer{
                  margin-left: 100px;
                }
                .headerContainer img{
                  margin-left: 70px;
                  width: 70%;
                }
                .headerContainer button{
                  margin-left: 10px;
                }
                .soon{
                  display: flex;
                  flex-direction: row;
                }
                .soon .comingSoon{
                  padding-top: 100px;
                  width: 50%;
                }
                .soon .comingSoon p{
                  margin-top: 100px;
                  text-align: center;
                }
            /* .about{
              flex-direction: row;
                }    */
            
  /* .navbar{
    display: inline-block;
  } */
 }
 @media only screen and (min-width:1020px)  {
  .headerContainer{
    margin-left: 250px;
  }
  .headerContainer img{
    margin-left: 70px;
    width: 70%;
  }
  .headerContainer button{
    margin-left: 10px;
  }
  .soon{
    display: flex;
    flex-direction: row;
  }
 }
 @media only screen and (min-width:1200px)  {
  .hide{
    display: block;
  }
  .show{
    display: none;
  }
  .serviceBox{
    flex-direction: row;
      }    
            .hold img{
              padding-right: 3rem;
            }
            .serviceBoxText{
              margin-top: 100px;
              margin-left: 50px;
              margin-bottom: 50px;
              width: 50%;
            }
            .about{
              width: 70%;
                }   
                .aboutContainer{
                  flex-direction: row;
                    } 
                    .serviceBoxContainer{
                      margin-left: 0px;
                      margin-right: 40px;
                    }
                    .sketch-text{
                      margin-top: 140px;
                      margin-right: 200px;
                    }
                    .sketch-text p{
                      font-size: 3rem;
                      font-weight: bold;
                    }
                    .sketch-text span{
                      font-size: 3rem;
                      font-weight: bold;
                    }
                    .me-text{
                      margin-top: 140px;
                      /* margin-right: 300px; */
                      width: 40%;
                    }
                    .me-text p{
                      font-size: 3rem;
                      font-weight: bold;
                    }
                    .me-text span{
                      font-size: 3rem;
                      font-weight: bold;
                    }
                    .skill{
                      display: flex;
                      flex-direction: row;
                    }
                    .width {
                      margin-left: 20px;
                      width: 45%;
                      text-align: center;
                    }
                    .contact{
                      display: flex;
                      flex-direction: row;
                    }
                    .contact .address{
                      width: 20%;
                    }
                  .contact  .form{
                      width: 30%;
                    }
                    textarea{
                      width: 85%;
                    }
                    .headerContainer{
                      margin-left: 0px;
                    }
                    .headerContainer img{
                      margin-left: 100px;
                      width: 70%;
                    }
                    .headerContainer button{
                      margin-left: 30px;
                    }
                    .soon{
                      display: flex;
                      flex-direction: row;
                    }
                  
  /* .serviceBox{
    flex-direction: row;
  } */
  /* .navbar{
    display: inline-block;
  } */
 }