*{
  /* font-family: Arial, Helvetica, sans-serif; */
  /* border: 1px solid black; */

}

.App {
  background-image: url('./images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.editor,.logo{
  animation: editor 3s;
}
.btn{
  width: 30%;
  height: 20px;
  margin-top: 20px;
  animation: transitionIn 3s;
}
.intro{
  animation: intro 3s;
}
/* @keyframes intro{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionIn{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes editor{
  from{
    opacity: 0;
    transform: translateX(70px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
} */
.navbar li{
/* text-transform: uppercase;
font-size: 14px; */
}
.active{
  font-weight: bold;
}
.login{
  width: 10em;
  height: 3.5em;
}
.learn{
  width: 10em;
  height: 3.5em;
  margin-right: 100px;
}

.serviceBox{
display: flex;
flex-direction: row;
}
.serviceBoxText{
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.serviceBoxText p{
  width: 50%;
  font-size: large;
  margin-left: 120px;
}
.serviceBoxText h2{
  width: 50%;
  font-size: xx-large;
  margin-left: 100px;
  justify-content: start;
}
.serviceBoxContainer{
margin-right: 100px;
}

@media only screen and (min-width:200px)  {
  .scrn_edit{
    width: none;
  }
  .humbergur{
    margin-left: 200px;
  }
  .serviceBox{
  flex-direction: column;
    }    
 .serviceBoxContainer{

    }
    .hold{
      margin: 0;
    }
    .serviceBoxText{
      margin-top: 0px;
    }
    .serviceBoxText p{
      width: 80%;
      font-size: large;
      margin-left: 10px;
    }
    .serviceBoxText h2{
      width: 80%;
      font-size: xx-large;
      margin-left: 10px;
    }
  .btn{
    width: 100%;
    height: 50px;
  }
  *{
    font-size: 12px;
  }
 .hide{
   display: none;
 }
 .show{
   display: inline-block;
 }
 .humbergur{
   margin-left: 100px;
 }
 .dropdown{
  margin-right: 200px;
}
 /* .navbar{
  margin-top: 100px;
  margin-right: 100px;
} */
}


@media only screen and (min-width:320px)  {
  .humbergur{
    margin-left: 200px;
  }
  .serviceBox{
  flex-direction: column;
    }    
 .serviceBoxContainer{
margin-right: 0;
    }
    .serviceBoxContainer{
      margin-left:5px;
          }
    .hold{
      margin: 0;
      margin-right: 0;
    }
    .hold img{
      padding-right: 1rem;
    }
    .serviceBoxText{
      margin-top: 0px;
      margin-left: 0px;
      padding-left: 00px;
    }
    .serviceBoxText p{
      width: 100%;
      font-size: large;
      margin-left: 0px;
    }
    .serviceBoxText h2{
      width: 80%;
      font-size: xx-large;
      margin-left: 30px;
      margin-top: 50px;
    }
    .learn{
      width: 10em;
      height: 3.5em;
      margin-right: 0px;
    }
}
@media only screen and (min-width:500px)  {
  .humbergur{
    margin-left: 380px;
  }
  .serviceBox{
    flex-direction: column;
      }    
      .learn{
        width: 10em;
        height: 3.5em;
        margin-right: 50px;
      }
      .serviceBoxContainer{
        margin-left:0px;
            }
            .hold img{
              padding-right: 1rem;
            }
            .serviceBoxContainer{
              margin-right:0px;
                  }
                  .serviceBoxText p{
                    width: 80%;
                    font-size: large;
                    margin-left: 0px;
                  }
}
   @media only screen and (min-width:700px)  {
  .humbergur{
    margin-left: 500px;
  }
  .serviceBox{
    flex-direction: column;
      }    
      .learn{
        width: 10em;
        height: 3.5em;
        margin-right: 50px;
      }
      .hold img{
        padding-right: 3rem;
      }
      .serviceBoxContainer{
        margin-left:30px;
            }
            .serviceBoxContainer{
              margin-right:0px;
                  }
                  .serviceBoxText p{
                    width: 80%;
                    font-size: large;
                    margin-left: 0px;
                  }
}
@media only screen and (min-width:800px)  {
  .serviceBox{
    flex-direction: column;
      }      
      .hold img{
        padding-right: 3rem;
      }
      .serviceBoxContainer{
        margin-right:20px;
            }
            .serviceBoxText p{
              width: 80%;
              font-size: large;
              margin-left: 20px;
            }
            
  /* .navbar{
    display: inline-block;
  } */
 }
 @media only screen and (min-width:1000px)  {
  .hide{
    display: block;
  }
  .show{
    display: none;
  }
  .serviceBox{
    flex-direction: row;
      }    
      .serviceBoxContainer{
        margin-right:100px;
            }
            .hold img{
              padding-right: 3rem;
            }
            .serviceBoxText{
              margin-top: 400px;
              margin-left: 50px;
              margin-bottom: 50px;
            }
            .serviceBoxText p{
              width: 80%;
              font-size: large;
              margin-left: 0px;
            }
  /* .serviceBox{
    flex-direction: row;
  } */
  /* .navbar{
    display: inline-block;
  } */
 }